.menuBar{
    padding-left: 20px;
    background-color:#343a40 !important;
}
.wdt {
  width: 90% !important;
}
.img {
  height: 300px !important;
  width: 1134px;
}
.cls {
  padding-right: 300px !important;
  background-color: blue;
}

.btn{
    border: 1px solid black;
}
.itemDiv{
    padding-left: 30px;
    padding-right: 30px;
}
.title{
    color: black; 
}
.cost{
    color: black; 
}
