.sliderContainer {
  margin-bottom: 3%;
}
.sliderBox {
  background-color: antiquewhite;
}
.imgdetails {
  height: 280px !important;
  width: 600px !important;
}

.imgpad {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
}
